#selectSub{

.radio-option{
    span{
        margin-left: 15px;
        color: gray;
        font-size: 0.8rem;
    }
}
.line-item{
    display: flex;
    justify-content: space-between;
    padding: 1em 0px;
    >div{
        color: #545454;
        font-weight: 600;
    }
    p{
        font-size: 0.6rem;
    }
}
}