footer{
    height: 4vh;
    background-color: #C4C4C4;
    font-size: 0.725rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    span{
        margin-right: 15px;
    }
}